.sample-video {
  height: 578px;
  width: 1183px;
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

video {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

video:hover{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

